html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#projects-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#projects-container > * {
  margin-right: 16px;
  margin-bottom: 16px;
}